<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ykhe.openglesdemos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenGLesDemos">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".helloword.HelloWorld" >
            <intent-filter>
                <category android:name="guidebee.intent.category.opengl.SAMPLE_CODE”"/>
            </intent-filter>
        </activity>
        <activity android:name=".point.DrawPoint" />
        <activity android:name=".line.DrawLine" />
        <activity android:name=".triangle.DrawTriangle" />
        <activity android:name=".sides.DrawSides20" />
        <activity android:name=".solar_system.DrawSolarSystem" />
    </application>

</manifest>